<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113288086-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113288086-1');
</script>

< ?php
if(!empty($_SERVER['REMOTE_ADDR'])){
 $ip = $_SERVER['REMOTE_ADDR']; 
}else { 
$ip = "(not set)"; 
}
?>
<script type="text/javascript">
_gaq.push(['_setCustomVar', 1, 'IP', '< ?php echo $ip;?>', 1]);
</script>    
